.is-authenticated {
    .authentication-notice {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 50px;
        background-color: black;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        text-align: center;
        padding: 5px;

        &.no-events {
            background-color: rgb(171, 0, 0);
        }
    }

    .scoreboard__overlay,
    .scoreboard__header {
        top: 50px;
    }

    .scoreboard__grid {
        margin: 160px auto 190px;

        @media (max-width: 693px) {
            margin-top: 200px;
        }
    
        @media (max-width: 565px) {
            margin-top: 215px;
        }
    }

    .offline-error {
        top: 100px;

        @media (max-width: 693px) {
            top: 150px;
        }
    }

    .sidenav {
        top: 50px;
    }

    .scoreboard__footer {
        display: none;
    }
}